* {
    margin: 0;
    padding: 0;
}

html {
    /* width: 100%;
    height: 100%; */
    /* background: url(/res/image/background.jpg) no-repeat; */
}

.left-part {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    width: 300px;
    height: 98%;
    border: 1px solid rgba(70, 70, 70, 0.6);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 5;
    background: rgba(239, 239, 239, 0.87);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.main-part {
    position: fixed;
    display: block;
    height: 95%;
    border: 1px solid rgba(160, 160, 160, 0.6);
    border-radius: 5px;
    /* background: rgba(239, 239, 239, 0.87); */
    background: url(../res/image/background.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
}

@media (min-width: 800px) {
    .left-part {
        margin-top: 0;
        width: 300px;
        border: none;
        border-radius: 0;
        height: 100%;
    }

    .main-part {
        margin-left: 300px;
        border: none;
        width: calc(100% - 300px);
        height: 100%;
    }
}

@media (max-width: 799px) {
    .left-part {
        width: 300px;
        left: -300px;
        transition: left 0.3s;
    }

    .main-part {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
}

.default-main-part-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(239, 239, 239, 0.87);
    backdrop-filter: blur(10px);
    align-items: center;
}

.name-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.802);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /*傻逼🍎想想就气*/
    width: 100%;
    height: 45px;
}

.chat-window {
    width: 100%;
    height: 100%;
}

.left-part > ul {
    list-style-type: none;
    width: 100%;
}

.left-part > ul > li {
    width: 100%;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.list-user {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 10px;
    cursor: default;
}

.list-user:hover {
    background: rgba(209, 209, 209, 0.87);
}

.list-user > span {
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
}

.search-box > input[type=text] {
    width: 80%;
    height: 35px;
    outline-style: none;
    font-size: 20px;
    border: 1px solid rgba(141, 202, 255, 0.6);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 999px;
    transition: border-redius 0.1s;
}

.search-box > input[type=text]:focus {
    border: 2px solid rgba(111, 188, 255, 0.849);
    border-radius: 5px;
}

.search-box > button {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0.1px solid rgba(209, 209, 209, 0.87);
    background: none;
}

.search-box > button:hover {
    border: 2px solid rgba(209, 209, 209, 0.87);
    background: rgba(239, 239, 239, 0.87);
}

#settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.802);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}